<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous">   </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .wrapper{
            display:grid;
            grid-template-columns: 1fr 2fr 1fr;
            /*
            grid-column-gap:1em;
            grid-row-gap:1em;
            
            grid-gap:1em;*/
        }
        a{
            color:white;
        }
    </style>
    <title>Read</title>
</head>
<body>
    <div class="ui secondary pointing menu">
        {% if user.is_authenticated  %}
        <a class="item">Hello, {{user.username}}</a>
        <a class="item" href="/" target="_blank">Home</a>
        <div class="right menu">
            <a class="ui item" href="accounts/logout">Logout</a>
        </div>									
        {% else %}
        <a class = "item" href="accounts/login">Login</a>
        <a class = "item" href="accounts/register">Register</a>
        {% endif %}
    </div>
    <br>
    {% if blogs%}
    <h1 class="ui center aligned header">
        Blogs
    </h1>
    {% for blog,like in blogs %}
    <br>
    <div class = "wrapper">
        <div>
            
        </div>
        <div>
        <div><p>{{blog.title}}</p></div>
        <div><p>{{blog.desc}}</p></div>
        <div><p>written by {{blog.author}}</p></div>
        {% if user.is_authenticated  %}
        <div class="ui labeled button" tabindex="0">
            <div class="ui red button">
            <i class="heart icon" ></i><a href="{% url 'home:like' blog.id %}">like</a>
            </div>
            <a class="ui basic red left pointing label">
              {{like}}
            </a>
        </div>
        {% else %}
        <div class="ui labeled button" tabindex="0">
            <div class="ui red button">
            <i class="heart icon" ></i>like
            </div>
            <a class="ui basic red left pointing label">
              {{like}}
            </a>
        </div>
        {% endif %}
        {% if request.user == blog.author  %}
            <button class="negative ui button"><a href="{% url 'home:delete' blog.id %}">delete</a></button>
        {% endif %}
        <button class="ui blue button">Add Comment</button>
        <hr>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>